body {
    font-family: 'Arial', sans-serif;
    background-image: url('/frontend/4882342.jpg'); /* Replace 'background-image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Add transparency to make text readable */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

input[type="text"],
input[type="date"],
button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.studentsList {
    margin-top: 40px;
}

.student {
    background-color: rgba(255, 255, 255, 0.8); /* Add transparency to make text readable */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.student h2 {
    margin-top: 0;
    color: #333;
}

.student p {
    margin: 5px 0;
    color: #666;
}

.student button {
    cursor: pointer;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popup h2 {
    margin-top: 0;
}

.popup label {
    display: block;
    margin-bottom: 5px;
}

.popup input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.popup button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.popup button:hover {
    background-color: #0056b3;
}
